<!-- This is the home page -->
<!-- User can view/shorten URLs -->

{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="wrapper">
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center white-text " style="font-family: 'Oxygen', sans-serif;">Hello {{ current_user.username }} </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!-- <li  onclick="toggleURL()">Add URL</li> -->
                <li><a onclick="toggleURL()">Add URL</a></li>
                <li><a>Dashboard</a></li>
                </ul>
            </div>
        </nav>
        <br>
       <div id="addurlform" style="display:none;" class="card hoverable">
            <form action="">
                Enter URL to shorten : <br>
                <input type="text" name="firstname">
                <br>
                <input type="submit" value="Submit">
              </form> 
       </div>
    </div>
</div>
{% else %}
<div class="wrapper">
    <div class="container">
        <div class="card hoverable">
                <div class="card-stacked  cyan lighten-3">
                    <div class="card-content hoverable">
                        <p>What is Shrynk?</p>
                    </div>
                </div>
                <div class="card-stacked  cyan darken-1">
                    <div class="card-content hoverable">
                        <p class="pCentext">Shrynk is a simple URL Shortner!</p>
                    </div>
                 </div>
         </div>           
    </div>
</div>       
{% endif %}
{% endblock %}