<!-- This is the home page -->

{% extends "layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="wrapper">
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a class="brand-logo center white-text " style="font-family: 'Oxygen', sans-serif;">Hello {{ current_user.username }} </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!-- <li  onclick="toggleURL()">Add URL</li> -->
                <li><a onclick="toggleURL('url')">Add URL</a></li>
                <li><a onclick="toggleURL('dash')">Dashboard</a></li>
                </ul>
            </div>
        </nav>

       <div id="addurlform" style="display:none;" class="card hoverable form-group">
            <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                <p>
                    {{ form.longURL.label }}<br>
                    {{ form.longURL }}
                </p>
                <p style="display:none;" >{{ form.userid(value=current_user.id) }}</p>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
       <div id="dash" style="display:none;" class="card hoverable form-group">  
        <table>
            <thead>
            <tr>
                <th>User ID</th>
                <th>Long URL</th>
                <th>Short URL</th>
                <th>Activation</th>
                <th>Expiry</th>
            </tr>
            </thead>
            {% for i in data%}
            <tbody>
            <tr>
                <td>{{i.user_id}}</td>
                <td><a href="{{i.longURL}}">{{i.longURL}}</a></td>
                <td><a href="{{i.shortURL}}">{{i.shortURL}}<a/></td>
                <td>{{i.activated}}</td>
                <td>{{i.expiry}}</td>
            </tr>
            </tbody>
            {% endfor %}

        </table>
        </div>
    </div>
</div>
{% else %}
<div class="wrapper">
    <div class="container">
        <div class="card hoverable">
                <div class="card-stacked  blue lighten-3">
                    <div class="card-content hoverable white-text">
                        <p>What is Shrynk?</p>
                    </div>
                </div>
                <div class="card-stacked  blue darken-1">
                    <div class="card-content hoverable white-text">
                        <p class="pCentext">Shrynk is a simple URL Shortner!</p>
                    </div>
                 </div>
         </div>           
    </div>
</div>       
{% endif %}
{% endblock %}
